form{
   width: 30%;
   margin: 0px auto;
   padding: 20px;
   border: 1px ;
   background: #FFAA73;
   
   border-radius: 10px 10px 10px 10px;



}

.form-control label{

	display: block;
	text-align: left;
	margin: 3px;
}

.form-control input{

	height: 30px;
	width: 90%;
	padding: 5px 10px;
	font-size: 30px;
	border-radius: 5px;
}

.form-control small{

	color: #e74c3c;
	position: absolute;
	visibility: hidden;
}

.form-control.error{

	color: #2ecc71;
	visibility: visible;
}

.form-control.success{

	color: #e74c3c;
	visibility: visible;
}


.form-control.error small{

	visibility: visible;
}



.btn{
    padding: 5px;
	font-size: 20px;
	color: white
	background: #BDAFA6 ;
	border-radius: 5px;

}

.error{

	width: 90%;
	margin: 0px auto;
	padding: 10px;
	border: 1px #a94442;
	color: #a94442;
	background: #f2dede;
	border-radius: 5px;
	text-align: center;

}


.content {
   width: 80%;
   margin: 0px auto;
   padding: 20px;
   border: 1px ;
   background: #FFDCA9;
   
   border-radius: 0px 0px 10px 10px;



}

.chat{

   width: 50%;
   height: 200px;
   margin: 0px auto;
   padding: 20px;
   border: 1px ;
   background: #FAD298;
   
   border-radius: 0px 0px 10px 10px;

}